@import '../../variable';

.card {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
  background-color: $card-background-color;

  border-radius: 20px;

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: $card-header-background-color;
    color: $card-header-color;
    font-weight: 900;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }

  &__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
    gap: 0.5rem;
    color: $card-color;
  }

  &__span {

  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
    // background-color: rgba($color: #000000, $alpha: 0.1);
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color: $card-footer-background-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &__delete {
    padding: 0.5rem 1rem;
    color: $delete-color;
    background-color: $delete-background-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      color: $delete-hover-color;
      background-color: $delete-hover-background-color;
    }
  }
}