@import '../../variable';

.footer {
  // background-color: $footer-background-color;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;

  &--light {
    background-color: $header-background-color;
  }
  
  &--dark {
    background-color: black;
  }

  &__copyright {
    font-size: 2.5vh;

    &--light {
      color: black;
    }
  
    &--dark {
      color: white;
    }
  
  }
}