@import '../../variable';

.footer {
  background-color: $footer-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  &--light {
    background-color: $header-background-color;
  }
  
  &--dark {
    background-color: black;
  }

  &__copyright {
    color: $footer-color;
    font-size: 16px;

    &--light {
      color: black;
    }
  
    &--dark {
      color: white;
    }
  }
}