$header-background-color: #4d4843;
$header-color: #ebebeb;

$main-background-color: #f8f2eb;
$card-background-color: #f1e8de;
$card-color: #1d1d1d;
$card-header-background-color: #e4b385;
$card-header-color: #ffffff;
$card-footer-background-color: #dbcdbe;
$delete-background-color: #d49172;
$delete-color: #f0f0f0;
$delete-hover-background-color: #d46956;
$delete-hover-color: #ffffff;

$footer-background-color: #2b2828;
$footer-color: #dbd7d5;