$header-background-color: #ff0000;

$main-background-color: #fff;
$card-background-color: #ebebeb;
$card-color: #1d1d1d;
$card-header-background-color: #222222;
$card-header-color: #cccccc;
$card-footer-background-color: #111111;

$footer-background-color: rgb(37, 37, 37);
$delete-background-color: rgb(56, 56, 56);
$delete-color: rgb(233, 233, 233);
$delete-hover-background-color: rgb(228, 17, 17);
$delete-hover-color: white;